<div class="example-container">
        <form class="example-container" [formGroup]="options">
          <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
          <div>
            <label>Float label: </label>
            <mat-radio-group formControlName="floatLabel">
              <mat-radio-button value="auto">Auto</mat-radio-button>
              <mat-radio-button value="always">Always</mat-radio-button>
              <mat-radio-button value="never">Never</mat-radio-button>
            </mat-radio-group>
          </div>
        </form>
      
        
      </div>
      