<mat-toolbar color="primary">
    <mat-toolbar-row>
        
      <span><mat-icon>reorder</mat-icon> Home</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navegar('')">
          <mat-icon>account_box</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item (click)="navegar('hospital')">
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>